.navbar {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff00cc;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.open .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .navbar-toggle {
    display: block;
  }

  .open .bar {
    background-color: #fff;
  }
}