.footer{
    height: 84px;
    background-color: #50fff6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 200;
}